@{
  Layout = "_Layout";
}

<h1>Eau Claire's Hair Salon</h1>
<p>@Html.ActionLink("Add a Stylist", "Create", "Stylists", null, new { @class = "btn" })</p>
<p>@Html.ActionLink("Add a Client", "Create", "Clients", null, new { @class = "btn" })</p>
<p>@Html.ActionLink("View Stylists", "Index", "Stylists", null, new { @class = "btn" })</p>
<p>@Html.ActionLink("View Clients", "Index", "Clients", null, new { @class = "btn" })</p>
```