@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
@using HairSalon.Models

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Client has no stylist</p>
}
else
{
  <h4>This client belongs to the following stylists:</h4>
  <ul>
    @foreach(ClientStylist join in Model.JoinEntities)
    {
      <li>Stylist: @join.Stylist.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Clients"))
      {
        @Html.Hidden("joinId", @join.ClientStylistId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>

}

<p>@Html.ActionLink("Add a Stylist", "AddStylist", new { id = Model.ClientId })</p>



